
{% extends 'base.html' %}
{% block content %}
    <div class="mx-auto" style="width: 600px;">
        <div class="col-lg-12 light-bg cus-pd"> 
            <h1 style="text-align: center;">Noticias</h1>
            <ul>
            {% for noticia in object_list %}

            <div class="row">
                <class class="col-md-12 col-lg-7 pr-0 pd-md">
                <img src="{{ noticia.image.url }}" alt="">
                </class>
                <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                    <p><h6>{{ noticia.usuario }}</h6></p>
                    <p><h3>{{ noticia.comentarios_post }}</h3></p>
                    <p>{{ noticia.tiempo_comentario_timestamp }}</p>
                    <br><p>{{ noticia.contenido_content }}</p>
                </div> 
            </div>
        </div>
        <br>
        {% endfor %}
        <class class="col-md-12 col-lg-7 pr-0 pd-md"></class>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'ProyectoWeb:noticia_list' %}" role="button">Go back
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
        </a>
    </div>
    </ul>
{% endblock %}