{% extends 'base.html' %}
{% block content %}
    <h2>Categorias</h2>
    <ul>
        {% for categoria in object_list %}

            <div class="row vr-gallery">
                <div class="col-md-8 mb-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 pr-0 pd-md">
                            <img src="{{ categoria.image.url }}" alt="">
                        </div>
                        <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                            <p><small>{{ categoria.name }}</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <a href="{% url 'ProyectoWeb:filtro_noticia' categoria.id %}" class="btn">LOAD MORE</a>
                </div>
            </div>
          
           
        {% endfor %}
    </ul>
{% endblock %}