{% extends 'base.html' %}

{% block categoria %}
    <h2>Categoria</h2>
    {% for categoria in object_list %}
            <div class="col-12 col-md-3 offset-md-3">
                <div class="card">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        
                        <h2>{{ categoria.name }}</h2>
                        
                        <a href="article.html" class="btn">READ MORE</a>
                    </div>
                </div>
            </div>
    {% endfor %}  
{% endblock %}