{% extends 'base.html' %}
{% block content %}
<div class="mx-auto" style="width: 600px;">
    <div class="col-lg-12 light-bg cus-pd">

        <h1>Categories:</h1>
        <ul>
            <br>
            {% for categoria in object_list %}
                
                    <div class="col-md-8 mb-4">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 pr-0 pd-md">
                                
                                <img class="img-fluid" src="{{ categoria.image.url }}" alt=""/>
                            </div>
                            <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                                <a href="{% url 'ProyectoWeb:filtro_noticia' categoria.id %}" class="btn"><h3 class="text-uppercase">{{ categoria.name }}</h3></a>
                                
                            
                            </div>
                        </div>
                    </div>
                
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}