{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">My posts</h1>
    <ul>
        {% for noticia in object_list %}
            <class class="row vr-gallery">
                <div class="col-md-12 mb-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 light-bg cus-pd ">
                            <p><small>{{ noticia.created_date }}</small></p>
                            <h3>Title: {{ noticia.title }}   </h3>
                            <p>Category: {{ noticia.category }} Posted: {{ noticia.published_dates|timesince}} ago</p>
                             
                        </div>
                        
                        <div class="col-md-12 col-lg-12 pr-0 pd-md">
                            <img src="{{ noticia.image.url }}" alt="">
                        </div>
                        
                        <div class="col-md-12 col-lg-12 light-bg cus-pd cus-arrow-left">
                            <p>
                                {{ noticia.text}}
                            </p>

                            <class class="col-md-6 text-right">
                                <a href = "{% url 'ProyectoWeb:noticia_update' noticia.id %}" class="btn">UPDATE</a>
                            </class>
                            <class class="col-md-6 text-right">
                                <a href = "{% url 'ProyectoWeb:noticia_delete' noticia.id %}" class="btn">DELETE</a>
                            </class>
                        </div>
                    </div>
                </div>
 
            </class>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
