
{% extends 'base.html' %}
{% block content %}
    <h2>POSTS</h2>
    <br>
    <ul>
        {% for noticia in object_list %}

            <div class="row vr-gallery">
                <div class="col-md-8 mb-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 pr-0 pd-md">
                            <img src="{{ noticia.image.url }}" alt="">
                        </div>
                        <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                            <p><small> create date:{{ noticia.created_date }}</small></p>
                            <h3>Title: {{ noticia.title }}</h3>
                            <p>
                               author :{{ noticia.author }}
                            </p>
                             <p>
                               category:   {{ noticia.category }}
                            </p>
                            <p>
                                {{ noticia.text }}
                            </p>
                            <p>
                                Posted: {{ noticia.published_dates|timesince }} ago
                            </p>
                        </div>
                        
                        <a href="#" class="btn">VER MAS</a>

                        
                    </div>
                </div>

                

              
            </div>
          
           
        {% endfor %}
    </ul>
{% endblock %}