{% extends 'base.html' %}
{% block content %}
    
    <h1>We are going to show you the posts up to the date you enter</h1><br>
    <div class="container">
      <h3 style="text-align: center;"> Please enter a date </h3>
      <br>
      <form method="get"   enctype="multipart/form-data">
     
        {{fecha.as_p}}
        <br>
        <button type="submit" class="btn btn-primary">Order</button>
       </form>
      </div>
      <br>
    <ul>
        {% for noticia in object_list %}
            <div class="row vr-gallery">
                <div class="col-md-8 mb-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 pr-0 pd-md">
                            <img src="{{ noticia.image.url }}" alt="">
                        </div>
                        <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                            <p><small>{{ noticia.created_date }}</small></p>
                            <h3>{{ noticia.title }}</h3>
                            <p>
                                {{ noticia.text| truncatewords_html:2 }}
                            </p>
                            <p>
                                Posted: {{ noticia.published_dates|timesince }} ago
                            </p>
                        </div>
                    </div>
                </div>
              
            </div>
        {% endfor %}
    </ul>


  {% endblock %}
