{% extends 'base.html' %}
{% block content %}
    
    <h2>Noticias</h2>
    <div class="container">
      <h1 style="text-align: center;"> Fecha </h1>
      <br>
      <form method="get"   enctype="multipart/form-data">
     
        {{fecha.as_p}}
        <br>
        <button type="submit" class="btn btn-primary">Order</button>
       </form>
      </div>
      <br>
    <ul>
        {% for noticia in object_list %}
            <div class="row vr-gallery">
                <div class="col-md-8 mb-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 pr-0 pd-md">
                            <img src="{{ noticia.image.url }}" alt="">
                        </div>
                        <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                            <p><small>{{ noticia.created_date }}</small></p>
                            <h3>{{ noticia.title }}</h3>
                            <p>
                                {{ noticia.text| truncatewords_html:2 }}
                            </p>
                            <p>
                                Posted: {{ noticia.published_dates|timesince }} ago
                            </p>
                            <div class="col">
                                <br>
                                <a class="btn btn-outline-primary btn-sm" href="{% url 'ProyectoWeb:noticia_detail' noticia.id %}" role="button">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-sunglasses-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v.116A4.22 4.22 0 0 1 8 5c.35 0 .69.04 1 .116V5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-1.994-1.839A2.99 2.99 0 0 0 8 6c-.393 0-.74.064-1.006.161A2 2 0 0 1 5 8h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM4.969 9.75A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .866-.5z"/>
                                </svg>                                    
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
              
            </div>
        {% endfor %}
    </ul>


  {% endblock %}
